#windows
/*App
/StarRecorderApp
/StarNavApp
/StarCloudApp
/Packages
/Library
/Temp
/UWP
/QCAR
*.csproj
*.sln
/.vs
#unity
/Assets/TileGenerator*
/Assets/ICO
/Assets/ICO.meta
/obj
.vscode
/Scenes
config.ini